/* Stilizzazione navbar/testata della pagina   */


.fixed-top {
    background-color: #c60800;

}
.header{
    background-color: #c60800;
    z-index: 9999;
    position: sticky;
    height: max-content;
}
.div{


}

.navbar-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    background-color: #c60800;
    max-width: 81.25rem;
    margin: 0 auto 0 auto;



}
.header-left-side{
    align-self: center;
}

.button-sections{
    background-color: transparent;
    border-color: white;
    display: block;


}
.button-sections{

    display: inline-block;
    border: 1px solid white;
    border-radius: 2px;
    align-items: center;
    font-family: "neue-haas-grotesk-display",sans-serif;
    font-weight: 700;
    padding: 4px ;

}
.button-search{
    display: inline-block;
    flex:0 0;
    background-color: transparent;
    border: 0;
    margin-left: 20px;

}

.button-email{

    flex:0 0 ;
    margin-left: 20px;

    background-color: transparent;
    border: 0;
    padding: 3px;
    width: 33px;
    height: 26px;

}
.header-logo{

    background-color: transparent;
    height: 55px;
    border: 0;

}
.button-ReadSix{


    border: none;
    background-color: transparent;


}
.im-logo{
    height: 55px;
    width: 369px
}


@media screen and (max-width: 768px){
    .header-date,.title-button-sections{
        display: none;
    }
    .header-logo,.im-logo{
        width: 215px;
        height: 32px;
    }

}


.header-date{
    color: white;
    background: black;

    text-align: center;
    font-size: 12px;
    font-weight: 700;
    font-family: Arial, sans-serif;

    flex-basis: 100%;
}



.front-space{
    height: 106px;
    color: transparent;
}




                                  /*   stilizzazione corpo della pagina  */

.site-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 734px 300px;
    grid-auto-flow: column;
    padding :20px 30px 20px 30px;
    justify-content: center;

    }



.site-content{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    max-width: 734px;


}
.site-ads{
    display: flex;
    flex-direction: column;
    width: 300px;
    flex: 0 0 300px;
    padding: 0 0 0 0;


}


/* top news  */

.top-news{
    background-color: white;
    align-items: center;
    align-content: center;
    display: block;
    width: 100%;
    height: max-content;
}
.big-title{
    display: block;
    font-family: "neue-haas-grotesk-display",sans-serif;
    font-size: 50px;
    font-weight: 700;
     color: #c60800;
    text-align: center;
    text-transform: uppercase;
    vertical-align: baseline;
    box-sizing: border-box;

    min-width: 0;
}


.big-ad{
    align-items: center;
}
.first-photo{
    margin-bottom: 0.9375rem;
    height: auto;
    position: relative;
    overflow: hidden;
}
.p_title{
    font-family: "neue-haas-grotesk-display",sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: black;
    text-align: center;
    margin-bottom: 0.625rem;
}



/* three news section */
.three-news{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-auto-columns: 217px 217px 217px;
    column-gap: 10px;
    align-content: start;
    height: 100%;
}


.three-item{
    display: grid;
    grid-auto-rows:auto auto;
}
/*  "one big new with 2 smaller "  section */
.one-to-two-news{
    display: grid;
    grid-template-columns: 66% auto ;
    max-width: 100%;
}
.r-side-bar{
    display:grid;
    grid-template-columns: auto;
}

.photo-left{
    max-width: 100%;
    height: auto;

}
.r{
    padding-left:  1.25rem;
    width: 100%;
}



/* general information */
text{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
}
.module-follow-with-border{
    border-bottom : 1px solid #E5E5E5;
    padding-bottom:  1.25rem;
}
.module-precede-with-border{
    border-top : 1px solid #E5E5E5;
    padding-top:  1.25rem;
}

.left-border{
    border-left : 1px solid #CCCCCC;
    padding-left:  1.25rem;
}
.right-border{

    padding-right:  1.25rem;
    border-right : 1px solid #CCCCCC;
}



.p-right{
    padding-right:  1.25rem;!important;

}
.p-left{
    padding-left:  1.25rem;!important;

}
.p-top{
    padding-top:  1.25rem;

}

img{
    margin-bottom: 10px;
}


.div{
    margin: 0;
    padding: 0;
    border: 0;
}
.no-padding-lr{
    padding-left: 0;
    padding-right: 0;
}
h2 *{
    line-height: 38px;
    letter-spacing: -0.36px;
    font-size: 36px;
    font-family: "Neue Haas Display", sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
h5{
    width: auto;
    font-size: 1.125rem;
    letter-spacing: -.01em;
    line-height: 1.1;
    font-family: "neue-haas-grotesk-display",sans-serif;
    font-weight: 700;

}
p *{
    display: block;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
    color: #585858;
    font-size: 1rem;
    line-height: 1.25;
}

ul{
    padding: 10px 0 10px 0;
}

.footer{

    border-top: 5px solid #c60800;
    padding: 20px 20px 0 20px;
    display: grid;

}

.site-footer{
    margin: 0 auto;
    width: 100%;
    max-width: 1044px;

    display: block;
    align-content: start;

}
.footer-top{

    display: flex;
    max-width: max-content;
    margin: 10px auto 16px auto;
    align-content: center;

}

.footer-navigation{
    padding-bottom: 1.25rem;
    width: 100%;
}

.footer-main {
    font-family: arial, sans-serif;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    list-style: none;
    padding-bottom: 1.25rem;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;


}



.link-list{
    display: grid;
    column-gap: 35px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    list-style: none;
    padding:10px 0 10px 0;
    line-height: 1.8;


    text-align: left;
}
.link-list *{
    color: #585858;
}
.list.el {

}
.list-el *{
    color: #585858;
    padding-left: 0;
    list-style: none;
    line-height: 1.8;

}

.legal-info{
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.legal-info *{
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.12px;
    text-align: left;
    font-weight: 400;
    color: rgb(88, 88, 88);
    padding: 0 1px 1px 5px;
}
.cali-rights{
    color: rgb(88, 88, 88);
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;

}
/* smaller view than 1024px*/
@media screen and (max-width: 1064px){
    .im-search,.button-email,.button-search,.im-email,.im-rs,.site-ads,.footer-main{
        display: none;

    }
    .site-footer{
        align-content: center;
    }
    .footer-top{

        flex-direction: column;
        justify-content: center;

    }
    .site-container{
        grid-template-columns: 100%;
        width: 100%;

    }
    .site-content{
        display: grid;
        max-width: 100%;
    }
    .text-news{
        max-width: 100%;
    }


    .first-photo{
        width: 100%;

        overflow: hidden;
        max-width: 100%;
        position: relative;
    }

    .three-im,.photo-left,.duo-im{
        width: 100%;
        height: auto;
    }
    img{
    }

    .first-photo{
        max-width: 100%;
        height: auto;

    }

    .photo-left{
        max-width: 100%;
        height: auto;

    }

    .button-ReadSix{
        height: 0;
    }

}
@media screen and (max-width: 760px){
    .three-news {
        grid-template-columns: auto;
        grid-auto-rows: max-content;
    }

    .three-item{
        display: grid;
        grid-template-columns: max-content auto ;
        grid-column-gap: 10px;
        align-content: start;
        padding-bottom:  1.25rem;
        padding-top:  1.25rem;
        padding-left: 0;
        border-bottom: 1px solid #CCCCCC;


    }


    .three-im{
        width: 144px;
        height: 95px;
    }
    .h5{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .one-to-two-news{
        grid-template-columns: auto;
    }
    .r-side-bar{
        grid-template-columns: auto;
        grid-auto-rows: max-content;
    }


    .r{
        display: grid;
        grid-template-columns: max-content auto ;
        grid-column-gap: 10px;
        align-content: start;
        padding-bottom:  1.25rem;
        padding-top:  1.25rem;
        padding-left: 0;
        border-bottom: 1px solid #CCCCCC;


    }

    .l-side-bar{
        border-right: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
    .duo-im{
        width: 144px;
        height: 95px;
    }
}